<html>
<head></head>
<body>
   <h1>our Books</h1>
   <form action="{{ path('app_crud_book') }}" method="get">
       <input type="text" name="authorName" placeholder="searhc by author name">
       <input type="submit" value="search">
   </form>
  <table border="1">
      <tr><th>id</th><th>title</th><th>author Name</th></tr>
      <tr {% for book in books %}>
          <td>{{ book.id }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.author.name }}</td>
          <td><a href={{ path('app_editbook',{'id':book.id}) }}>Edit</a></td>
      </tr {% endfor %}>
  </table>
   <a href="{{ path('app_new_book') }}">add a new book</a>
</body>
</html>
