<!DOCTYPE html>
<html lang="en">
<head>
    <title >3A22</title>
</head>
<body>
<ul>
    <li><a href="{{ path('app_list_author') }}">show authors</a> </li><li><a href="{{ path('app_crud_book') }}">show books</a> </li>
</ul>
    <h1>List of authors</h1>
<form method="get" action={{ path('app_list_author') }}>
    <input type="text" name="search">
    <button type="submit">search</button>
</form>

<table>
    <thead>
        <tr>
            <th>Author Name</th>
            <th>Author Email</th>
        </tr>
    </thead>
    <tbody>
        {% for author in authors %}
        <tr>
            <td>{{ author.name }}</td>
            <td>{{ author.email }}</td>
        </tr>
        {% else %}
            <p>No authors found</p>
        {% endfor %}

    </tbody>
</table>

<a href="{{ path('app_new_author') }}">add a new author</a>
</body>
</html>
